                                ______________________________________
                    _.---------|.--.        --- RULES ---             |
                 .-'  `       .'/  ``  -Each player is dealt 2 cards  |
              .-'           .' |    /| -Players “Hit” to gain another |
           .-'         |   /   `.__//   card from the deck            |
        .-'           _.--/        /  -Players “Stay” to keep their   |
       |        _  .-'   /        /  current card total               |
       |     ._  \      /     `  /                                    |
       |        ` .    /     `  /                                     |
       |         \ \ '/        /                                      |
       |        - \  /        /|                                      |
       |        '  .'        / |                                      |
       |                    |  |______________________________________|
       |                    |.'
       |                   /
       )                 /|
    .A/`-.              / |
   AMMMA. `-._         / /
  AMMMMMMMMA. `-.     / /
 AMMMMMMMMMMMMA. `.    /
AMMMMMMMMMMMMMMMMA.`. /
